DEFAULTSKIN	BITMAP 	"!Unpack\DEFAULTSKIN.bmp"
LOGOABOUT	BITMAP 	"!Unpack\LOGOABOUT.bmp"
LOGODEFAULT	BITMAP 	"!Unpack\LOGODEFAULT.bmp"
MAINBRD		BITMAP 	"!Unpack\MAINBRD.bmp"
CLICK		RCDATA 	"!Unpack\CLICK.wav"
DEFNEWSKIN	RCDATA 	"!Unpack\DEFNEWSKIN.zip"
INITPREFS	RCDATA 	"!Unpack\INITPREFS.xml"
KEYS		RCDATA 	"!Unpack\KEYS.dat"
LANGEN		RCDATA 	"!Unpack\LANGEN.txt"
LANGRU		RCDATA 	"!Unpack\LANGRU.txt"
TRAY		ICON 	"!Unpack\TRAY.ico"